@namespace AntSK
@using OneOf
@inherits LayoutComponentBase

<div class="container__b__0">
    <div class="lang">
        <!--todo: selectLang-->
    </div>
    <div class="content">
        <div class="top">
            <div class="header">
                <a>
                    <img alt="logo" class="logo" src="assets/logo.svg" />
                    <span class="title">AntSK</span>
                </a>
            </div>
            <div class="desc"> </div>
        </div>
        @Body
    </div>
    <FooterView Copyright="许泽宇的技术分享" Links="Links"></FooterView>
</div>

@code
{
    public LinkItem[] Links { get; set; } =
    {
        new LinkItem
        {
            Key = "许泽宇的技术分享",
            Title = "许泽宇的技术分享",
            Href = "./assets/gzh.jpg",
            BlankTarget = true,
        },
        new LinkItem
        {
            Key = "github",
            Title = (RenderFragment)(@<Icon Type="github" />),
            Href = "https://github.com/AIDotNet/AntSK",
            BlankTarget = true,
        }
    };
}
