@namespace AntSK.Pages.AppPage
@using AntSK.Domain.Repositories
@using System.ComponentModel.DataAnnotations
@page "/App/Detail/{AppID}"
@inject NavigationManager NavigationManager
@using AntSK.Services.Auth
@inherits AuthComponentBase

<h3>AppDetail</h3>

@code {

}
