torch>=1.13.1  --index-url https://download.pytorch.org/whl/cu121
transformers>=4.41.2
datasets>=2.16.0
accelerate>=0.30.1
peft>=0.11.1
gradio>=4.0.0
scipy
einops
sentencepiece
protobuf
uvicorn
pydantic
fastapi
sse-starlette
matplotlib>=3.7.0
fire
modelscope
langchain-community
sentence_transformers
flagembedding
packaging
pyyaml
trl>=0.8.6
