@namespace Xzy.KnowledgeBase.Pages
@inherits AntDomComponentBase

<Card>
    <div class="appCard">
        <div class="chartTop">
            <div class="avatar">@Avatar</div>
            <div class="metaWrap">
                <div class="meta">
                    <h1>@Title</h1>
                    <span class="action"><Icon Type="windows" /></span>
                </div>
                <div class="total">
                    <span>@Desc</span>
                </div>
            </div>
        </div>
        <div class="footer">
            @Footer
        </div>
    </div>
</Card>

