/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.appCard {
  position: relative;
}
.appCard .chartTop {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.appCard .chartTopMargin {
  margin-bottom: 12px;
}
.appCard .chartTopHasMargin {
  margin-bottom: 20px;
}
.appCard .metaWrap {
  float: left;
}
.appCard .avatar {
  position: relative;
  top: 4px;
  float: left;
  margin-right: 20px;
}
.appCard .avatar img {
  border-radius: 100%;
}
.appCard .meta {
  height: 22px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 22px;
}
.appCard .action {
  position: absolute;
  top: 4px;
  right: 0;
  line-height: 1;
  cursor: pointer;
}
.appCard .total {
  height: 38px;
  margin-top: 4px;
  margin-bottom: 0;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-size: 30px;
  line-height: 38px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.appCard .content {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}
.appCard .contentFixed {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.appCard .footer {
  margin-top: 8px;
  padding-top: 9px;
  border-top: 1px solid #f0f0f0;
}
.appCard .footer > * {
  position: relative;
}
.appCard .footerMargin {
  margin-top: 20px;
}
