/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
html,
body,
#root,
#app,
app {
  height: 100%;
}
.colorWeak {
  filter: invert(80%);
}
.ant-layout {
  min-height: 100vh;
}
canvas {
  display: block;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,
ol {
  list-style: none;
}
.action {
  cursor: pointer;
}
@media (max-width: 480px) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > th,
  .ant-table-thead > tr > td,
  .ant-table-tbody > tr > td {
    white-space: pre;
  }
  .ant-table-thead > tr > th > span,
  .ant-table-tbody > tr > th > span,
  .ant-table-thead > tr > td > span,
  .ant-table-tbody > tr > td > span {
    display: block;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}



::-webkit-scrollbar {
    width: 1px; /* 设置滚动条的宽度 */
    height: 8px; /* 设置水平滚动条的高度 */
}

::-webkit-scrollbar-track {
    background: #f5f5f5; /* 设置滚动条轨道的背景色 */
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1; /* 设置滚动条拇指的背景色（可拖动的部分） */
    border-radius: 8px; /* 设置滚动条拇指的圆角 */
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555; /* 鼠标悬停时滚动条拇指的背景色 */
    }

/* 适用于Firefox */
* {
    scrollbar-width: thin; /* 设置滚动条为细的 */
    scrollbar-color: #ccc #f1f1f1; /* 设置滚动条拇指和轨道的颜色 */
}