@namespace AntSK.Pages.Kms
@using AntSK.Domain.Repositories
@using AntSK.Domain.Domain.Dto
@page "/Kms/DetailList/{FileID}"
@inject NavigationManager NavigationManager

<AntList DataSource="@_data" TItem="KMFile">
    <ListItem  >
        <ListItemMeta   Description="@context.Text">
            <TitleTemplate>
                <a>@context.File</a>
            </TitleTemplate>
        </ListItemMeta>
    </ListItem>
</AntList>

@code {

}
