@namespace AntSK.Pages.Setting.User
@using AntSK.Domain.Repositories
@using AntSK.Models
@page "/setting/user/add"
@inject IMessageService _message
@using AntSK.Services.Auth
@inherits AuthComponentBase


<h3>AddUser</h3>

@code {

}
