@namespace AntSK.Pages.Exception
@page "/exception/404"
@using AntSK.Services.Auth
@inherits AuthComponentBase

<div class="rail">
    @for (var i = 0; i < StampCount; i++)
    {
        <div class="@((i % 2 == 0) ? "stamp zero" : "stamp four")">
            @(i % 2 == 0 ? "4" : "0")
        </div>
    }
    <div class="world">
        <div class="forward">
            <div class="box">
                @for (var i = 0; i < 6; i++)
                {
                    <div class="wall"></div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private int StampCount { get; set; } = 20; // 初始的循环次数
}
