@namespace AntSK.Pages
@using MarkdownSharp
@page "/"
@using AntSK.Services.Auth
@inherits AuthComponentBase

<Body>
    @((MarkupString)(body))
</Body>

@code {
    private string body = new Markdown().Transform(@"非常感谢您对**AntSK**的喜爱，您的支持对我来说是莫大的鼓励。

如果您对技术类视频感兴趣，欢迎关注我的B站账号，获取更多精彩内容。

- **Bilibili账号**：[点击这里](https://space.bilibili.com/1673184683/channel/series)

同时，如果您感兴趣，可以访问我的GitHub页面，查看更多开源项目和代码：

- **GitHub页面**：[点击这里](https://github.com/xuzeyu91)

另外，如果您想加入由我创建的**.Net/AI应用开发微信交流群**，欢迎先添加我的微信**（xuzeyu91）**。

发送“进群请求”，我将会把您邀请进群。

期待与您在线上交流技术，共同进步！");


}
